In [1]:
import os
import glob
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
require_cols = ['Symbol', 'Trade Date','Trade Type','Quantity','Price','Order ID','Order Execution Time']

In [4]:
for f in glob.glob("tradesbook_exports/*.xlsx"):
    data = pd.read_excel(f, skiprows = 14, usecols = require_cols)
    df = df.append(data,ignore_index=True)
df.drop_duplicates('Order ID', inplace=True)
df = df.drop(df[df['Trade Type'] == 'sell'].index)
df.reset_index(inplace=True)
#df.to_excel("output.xlsx")

C:\Users\abhij\AppData\Local\Temp\ipykernel_6248\4142425441.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)
C:\Users\abhij\AppData\Local\Temp\ipykernel_6248\4142425441.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data,ignore_index=True)

In [6]:
datatypes = df.dtypes
#print(datatypes)
from datetime import timedelta, datetime
df['Trade Date'] = df['Trade Date'].astype(str)
datatypes = df.dtypes
x=df['Trade Date'].iloc[2]
type(x)
format = '%Y-%m-%d'  # The format
start1 = datetime.strptime(x, format)
end1 = start1 + timedelta(days=1)
print('start1:',start1, 'end1:', end1)

start1: 2021-02-26 00:00:00 end1: 2021-02-27 00:00:00

In [7]:
current_val = (df['Quantity'] * df['Price']).sum()
current_val

135888.06000000003

In [17]:
import pandas as pd
from datetime import datetime
tickers_list = ['SUBEX.NS']

# Fetch the data
import yfinance as yf
start = datetime(2022,2,2)
end = datetime(2022, 2, 3)
data = yf.download(tickers_list,start,end)['Adj Close'].astype(int)
df2 = data.to_frame()

# Print first 5 rows of the data
print(data)

print(data[0])
#print(df2)
#print(type(data))

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SUBEX.NS: No timezone found, symbol may be delisted
Series([], Name: Adj Close, dtype: int32)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [11]:
index_LTP= yf.download(tickers_list,start1,end1)['Adj Close'].astype(int)
df['index_val'] = index_LTP[0]
df

[*********************100%***********************]  1 of 1 completed

,index,Symbol,Trade Date,Trade Type,Quantity,Price,Order ID,Order Execution Time,index_val
0,0,RELIANCE,2021-01-29,buy,2,1860.15,1300000019843443,2021-01-29T14:59:48,156
1,1,AXISGOLD,2021-02-18,buy,2,40.52,1000000010123397,2021-02-18T12:07:53,156
2,2,ITC,2021-02-26,buy,2,205.15,1100000014575516,2021-02-26T12:36:00,156
3,3,M&M,2021-02-26,buy,1,808.50,1200000017227310,2021-02-26T13:31:12,156
4,4,BANKBEES,2021-03-05,buy,1,355.65,1000000000224677,2021-03-05T09:15:08,156
...,...,...,...,...,...,...,...,...,...
146,152,ZOMATO,2022-05-10,buy,2,55.05,1300000010544598,2022-05-10T11:36:08,156
147,153,UPL,2022-06-20,buy,1,645.10,1655695800035169521,2022-06-20T09:42:02,156
148,154,TCS,2022-07-13,buy,1,3075.10,1300000004696121,2022-07-13T10:30:35,156
149,155,TATASTEEL,2022-11-28,buy,5,105.05,1300000001436365,2022-11-28T09:22:25,156
150,156,TATASTEEL,2022-12-23,buy,4,104.05,1300000008272605,2022-12-23T10:21:39,156

In [15]:
LTP = yf.Ticker('SUBEX.NS').history(period='20d')
stock_LTP = LTP['Close'][0]
print(stock_LTP)

SUBEX.NS: No data found, symbol may be delisted

IndexError: index 0 is out of bounds for axis 0 with size 0